<app-header></app-header>
<div class="main-box mt-3 text-center mx-auto">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row g-3 justify-content-center">
            <div class="col-auto">
                <div class="category-box">
                    <a href="/" class="d-flex align-items-center" routerLink="/mobile-store">
                        <img src="../../assets/images/mobile.webp" alt="Mobile store" style="height: 60px;">
                    </a>
                    <span>Mobiles</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="category-box">
                    <a href="/" class="d-flex align-items-center" routerLink="/fashion-store">
                        <img src="../../assets/images/fashion.png" alt="Fashion store" style="height: 60px;">
                    </a>
                    <span>Fashion</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="category-box">
                    <a href="/" class="d-flex align-items-center" routerLink="/electronics-store">
                        <img src="../../assets/images/electronics.avif" alt="Fashion store" style="height: 60px;">
                    </a>
                    <span>Electronics</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="category-box">
                    <a href="/" class="d-flex align-items-center" routerLink="home-furniture-store">
                        <img src="../../assets/images/home-furniture.avif" alt="Home & Fur store" style="height: 60px;">
                    </a>
                    <span>Home & Furniture</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="category-box">
                    <a href="/" class="d-flex align-items-center" routerLink="#">
                        <img src="../../assets/images/appliences-new.webp" alt="Appliances store" style="height: 60px;">
                    </a>
                    <span>Appliances</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="category-box">
                    <a href="/" class="d-flex align-items-center" routerLink="#">
                        <img src="../../assets/images/beauty.jpg" alt="Beauty store" style="height: 60px;">
                    </a>
                    <span>Beauty</span>
                </div>
            </div>
        </div>
    </div>
</div>